@font-face {
    font-family: 'Raleway';
    src: url('raleway-medium-webfont.woff2') format('woff2'),
         url('raleway-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}




@font-face {
    font-family: 'Raleway';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
