{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}


  <form method="post">
    <b class="text-center"> You can also contribute to Chief Minister's Fund:<br>
      Account number : 67319948232<br>
      Bank: SBI<br>
      Branch: City Branch, TVM<br>
      IFS Code: SBIN0070028<br>
    </b><br><br>
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  </form>

{% endblock %}
