{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<p class="text-center">
  Volunteers are available across Kerala. Contact the <u>District level point of contacts</u> for any help. <br/>
  സഹായത്തിനായി വൊളന്‍റീയര്‍മാര്‍ തയ്യാറാണ്. സഹായം ആവശ്യമെങ്കില്‍ ഒരോ ജില്ലയിലെയും നിയോഗിക്കപെട്ട ഉദ്യോഗസ്ഥരുമായി ബന്ധപ്പെടാം
</p>
<form action="" method="get">
       {{ filter.form.as_p }}
       <input type="submit" value="Find contact"/>
 </form>
 <table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
   {% for req in filter.qs %}
       <tr>
         <td>{{ req.name }}</td>
         <td>{{ req.phone }}</td>
         <td>{{ req.email }}</td>
       </tr>
   {% endfor %}
 </table>
{% endblock %}
