{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<table>
  <tr>
    <th>District</th>
    <th>Details</th>
    <th>Status</th>
  </tr>

  <!-- Ernakulam -->
  <tr valign="top">
    <td><strong>Ernakulam</strong></td>
    <td>
      adfasdsadsadsad s<br/>asdasdasd<br/>adasd
    </td>
    <td>
      0 - Items Recieved<br/>
      0 - Items Supplied<br/>
    </td>
  </tr>

  <!-- Ernakulam -->
  <tr valign="top">
    <td><strong>Ernakulam</strong></td>
    <td>
      adfasdsadsadsad s<br/>asdasdasd<br/>adasd
    </td>
    <td>
      0 - Items Recieved<br/>
      0 - Items Supplied<br/>
    </td>
  </tr>

  <!-- Ernakulam -->
  <tr valign="top">
    <td><strong>Ernakulam</strong></td>
    <td>
      adfasdsadsadsad s<br/>asdasdasd<br/>adasd
    </td>
    <td>
      0 - Items Recieved<br/>
      0 - Items Supplied<br/>
    </td>
  </tr>

</table>
{% endblock %}
