{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<form action="" method="get" class="text-center">
       {{ filter.form.as_p }}
       <input value="View requests" class="btn btn-primary" type="submit" />
 </form>

 <table>
  <tr>
    <th>District</th>
    <th>Location</th>
    <th>Requestee</th>
    <th>Contact number</th>
    {# <th>Summary of request</th> #}
    <th>Date</th>
  </tr>
   {% for req in filter.qs %}
       <tr>
         <td>{{ req.get_district_display }}</td>
         <td>{{ req.location  }}</td>
         <td>{{ req.requestee }}</td>
         <td>{{ req.requestee_phone }}</td>
         {# <td>{{ req.requestee_phone }}</td> #}
         <td>{{ req.dateadded }}</td>
       </tr>
   {% endfor %}

</table>
{% endblock %}
