{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="Description" content="For effective collaboration and communications between authorities, volunteers and public">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Kerala Rescue</title>

  {# <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/> #}

  {% block css %}
  {% endblock %}

  {% bootstrap_css %}

  <link rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

</head>

<body>

 {% block body %}

<nav class="navbar">
    <div class="col-sm-4 col-xs-4">
      <img src="{% static 'images/kerala-government.png' %}" class="nav-logo" style="float:left">
    </div>
    <div class="col-sm-4 col-xs-4 text-center">
    {% if not request.path == '/' %}
        <a class="brand-logo" href="/">keralarescue</a>
    {% endif %}
    </div>
    <div class="col-sm-4 col-xs-4">
        <img src="{% static 'images/it-mission.png' %}" class="nav-logo" style="float: right;">
    </div>
</nav>
<div class="container">

{% block content %}
{% endblock %}

</div>

{% endblock %}


<footer class="footer">
  <div class="container text-center">
    <img src="{% static 'images/kerala-government.png' %}" class="footer-logo">
    <img src="{% static 'images/it-mission.png' %}" class="footer-logo">
    <img src="{% static 'images/ieeelogo.png' %}" class="footer-logo">
  </div>
</footer>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% bootstrap_javascript %}

{% block javascript %}
{% endblock %}

<!-- This site was developed under IEEE by
    Biswas - https://biswaz.github.io/
    and
    Shameel Kadannamanna - https://shameelsadaka.github.io/
  -->


</body>

</html>
