{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="Description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title></title>
  <!--TODO: Use block head_title-->

  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

  {% block css %}
  {% endblock %}

  {% bootstrap_css %}

  <link rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

</head>

<body>

 {% block body %}

<nav class="navbar">
    <a class="brand-logo" href="/">keralarescue</a>
    {# <a href="/" class="backtohome">{% bootstrap_icon "home" %} &nbsp; Back To Home</a> #}
    {# <a href="/volunteers" class="contactus">{% bootstrap_icon "phone" %} &nbsp; Contact Us</a> #}
</nav>
<div class="container">

{% block content %}
{% endblock %}

</div>

{% endblock %}


<footer class="footer">
  <div class="container text-center">
    <a href="https://twitter.com/bis_waz">
      {# <p class="text-muted">Developed and Designed with <i class="fa fa-heart"></i>  at GEC PKD by Biswas #}
        {# <i class="fa fa-twitter"></i> #}
      </p>
    </a>
    <img src="{% static 'images/ieeelogo.png' %}">
  </div>
</footer>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  #}
{% bootstrap_javascript %}

{% block javascript %}
{% endblock %}




</body>

</html>
