{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load bootstrap3 %}

<div class="container text-center">
    <h1 class="main-logo">kerala<span style="font-weight: normal;">rescue</span></h1>
    <p style="font-style:italic;margin-bottom:20px;">
        For effective collaboration and communications between authorities, volunteers and public <br/>
    <b><a href="{% static 'images/msg_cm.jpg' %}">Message from CM</a></b>
  </p>
    <a href="/request" class="home-button card" role="button">
        {% bootstrap_icon "grain" %}
        <span class="text">
            Request<br/>for help<br/>
            <span class="ml small">സഹായം അഭ്യര്‍ഥിക്കാന്‍</span>
        </span>
    </a>
    <a href="/district_needs/" class="home-button card" role="button">
        {% bootstrap_icon "map-marker" %}
        <span class="text">
            DISTRICT<br/>NEEDS<br/>
            <span class="ml small">ജില്ലകളിലെ ആവശ്യങ്ങള്‍</span>
        </span>
    </a>
    <a href="/reg_contrib" class="home-button card" role="button">
        {% bootstrap_icon "globe" %}
        <span class="text">
            Contribute<br/>
            <span class="ml small">സഹായിക്കുക</span>
        </span>
    </a>
    <a href="/volunteer" class="home-button card" role="button">
        {% bootstrap_icon "user" %}
        <span class="text">
            Register as<br/>a volunteer
            <span class="ml small">വൊളന്‍റീയര്‍ ആകാന്‍</span>
        </span>
    </a>
    <a href="/volunteers" class="home-button card" role="button">
        {% bootstrap_icon "phone" %}
        <span class="text">
            Contact <br>us<br/>
            <span class="ml small">ഞങ്ങളുമായി ബന്ധപ്പെടാന്‍</span>
        </span>
    </a>
    <a href="/requests" class="home-button card" role="button">
      {% bootstrap_icon "list" %}
      <span class="text">
        Registered Requests<br/>
        <span class="ml small">ഇതു വരെ ആവശ്യപ്പെട്ടവ</span>
      </span>
    </a>
    <p class="home-info">
        Volunteers are available across Kerala.<br/>
        Contact the <u>District level point of contacts</u> for any help.<br/>
        Anyone who is interested to volunteer can enroll through this website.
        <b>Contact Us - (will update soon)</b>
    </p>
</div>
{% endblock %}
