{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load bootstrap3 %}

<div class="container text-center">
    <h1 class="main-logo">kerala<span style="font-weight: normal;">rescue</span></h1>
    <p style="margin-bottom:20px;">
        <i>An initiative by Govt. of Kerala, Kerala State IT Mission and IEEE Kerala Section<br>
        For effective collaboration and communications between authorities, volunteers and public </i><br/>
        <strong>ദുരിതാശ്വാസ പ്രവര്‍ത്തനങ്ങളും രക്ഷാ ദൗത്യങ്ങളും ഏകോപിപ്പിക്കാന്‍</strong><br/>
    <b><a href="{% static 'images/msg_cm.jpg' %}">Message from Hon. Chief Minister of Kerala</a></b>
  </p>
    <a href="/request" class="home-button card" role="button">
        {% bootstrap_icon "grain" %}
        <span class="text">
            Request<br/>for help<br/>
            <span class="ml small">സഹായം അഭ്യര്‍ഥിക്കാന്‍</span>
        </span>
    </a>
    <a href="/district_needs/" class="home-button card" role="button">
        {% bootstrap_icon "map-marker" %}
        <span class="text">
            DISTRICT NEEDS<br/>
            <span class="small">AND<br>COLLECTION CENTERS<br></span>
            <span class="ml small">ജില്ലകളിലെ ആവശ്യങ്ങള്‍</span>
        </span>
    </a>
    <a href="/reg_contrib" class="home-button card" role="button">
        {% bootstrap_icon "apple" %}
        <span class="text">
            To Contribute<br/>
            <span class="ml small">സംഭാവന നല്‍കാന്‍</span>
        </span>
    </a>
    <a href="/volunteer" class="home-button card" role="button">
        {% bootstrap_icon "user" %}
        <span class="text">
            Register as<br/>a volunteer
            <span class="ml small">വൊളന്‍റീയര്‍ ആകാന്‍</span>
        </span>
    </a>
    <a href="{% url 'contactus' %}" class="home-button card" role="button">
        {% bootstrap_icon "phone" %}
        <span class="text">
            Contact <br>us<br/>
            <span class="ml small">ഞങ്ങളുമായി ബന്ധപ്പെടാന്‍</span>
        </span>
    </a>
    <a href="/requests" class="home-button card" role="button">
      {% bootstrap_icon "list" %}
      <span class="text">
        Registered Requests<br/>
        <span class="ml small">ഇതു വരെ ആവശ്യപ്പെട്ടവ</span>
      </span>
    </a>
    <p class="home-info">
        Volunteers are available across Kerala. Contact the <u>District level point of contacts</u> for any help.<br/>
        Anyone who is interested to volunteer can enroll through this website.<br/>
        <br/>
        സഹായത്തിനായി വൊളന്‍റീയര്‍മാര്‍ തയ്യാറാണ്. സഹായം ആവശ്യമെങ്കില്‍ ഒരോ ജില്ലയിലെയും നിയോഗിക്കപെട്ട ഉദ്യോഗസ്ഥരുമായി ബന്ധപ്പെടാം
    </p>
</div>
{% endblock %}
