{% extends 'base.html' %}
{% block content %}

{% load bootstrap3 %}

<div class="container text-center">
    <h1 class="main-logo">kerala<span style="font-weight: normal;">rescue</span></h1>
    <p style="font-style:italic;margin-bottom:20px;">
        For effective collaboration and communications between authorities, volunteers and public <br/>
    </p>
    <a href="/request" class="home-button card" role="button">
        {% bootstrap_icon "grain" %}
        <span class="text">
            Request<br/>for help<br/>
            <span class="ml small">സാധനങ്ങള്‍ ആവശ്യപ്പെടാന്‍</span>
        </span>
    </a>
    <a href="/requests" class="home-button card" role="button">
        {% bootstrap_icon "list" %}
        <span class="text">
            Registered Requests<br/>
            <span class="ml small">ഇതു വരെ ആവശ്യപ്പെട്ടവ</span>
        </span>
    </a>
    <a href="/volunteer" class="home-button card" role="button">
        {% bootstrap_icon "user" %}
        <span class="text">
            Register as<br/>a volunteer
            <span class="ml small">വൊളന്‍റീയര്‍ ആകാന്‍</span>
        </span>
    </a>
    <a href="/volunteers" class="home-button card" role="button">
        {% bootstrap_icon "phone" %}
        <span class="text">
            Contact <br>us<br/>
            <span class="ml small">ഞങ്ങളുമായി ബന്ധപ്പെടാന്‍</span>
        </span>
    </a>
    <p class="home-info">
        Volunteers are available across Kerala.<br/>
        Contact the <u>District level point of contacts</u> for any help.<br/>
        Anyone who is Interested to voluneer can enroll through this website.
    </p>
</div>
{% endblock %}
